@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.WebTitle</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
    <div class="layui-form" id="dictBox" style="padding: 20px;">

        <div class="layui-form-item layui-form-pane  layui-hide ">
            <label class="layui-form-label">角色ID</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" id="RoleID" name="RoleID" lay-verify="required" placeholder="请输入角色ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label" style="width: 190px;">风电机组故障告警级别：</label>
            <div class="layui-input-block" id="AlarmCrewLevelDiv">

            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label" style="width: 190px;">升压站变位告警级别：</label>
            <div class="layui-input-block" id="AalarmVariableBitLevelDiv">

            </div>
        </div>

        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="app-form-submit" id="app-form-submit" value="确认添加">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>
    </div>
    <script src="../../../layuiadmin/layui/layui.js"></script>

    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$

                , form = layui.form;

            layer.ready(function () {

                debugger;
                var RoleID = $("#RoleID").val();
                //初始化报警级别
                $.ajax({
                    url: '/SysRoleAlarmLevel/GetAlarmLevelByRole',
                    type: 'post',
                    dataType: 'json',
                    //contentType: 'application/json',
                    data: { RoleID: RoleID, r: Math.random() },
                    timeout: 2000,
                    beforeSend: function (xhr) {
                        //xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {

                        if (data.status) {
                           debugger;
                            //var html1 = "";
                            //var html2 = "";

                            //for (var i = 0; i < data.alarmCrewLevel.length; i++) {
                            //    var ischeck = false;
                            //    for (var ii = 0; ii < data.roleAlarmCrewLevel.length; ii++) {
                            //        if (data.alarmCrewLevel[i] == data.roleAlarmCrewLevel[ii]) {
                            //            ischeck = true;
                            //            break;
                            //        }
                            //    }

                            //    html1 = html1 + "<input type=\"checkbox\" name=\"AlarmLevel\" value=\"{0}\"  title=\"{0}\" {1}>"
                            //        .format(data.alarmCrewLevel[i], ischeck ? "checked=\"checked\"" : "");
                            //}

                            //for (var i = 0; i < data.roleAlarmVariableBitLevel.length; i++) {
                            //    var ischeck = false;
                            //    for (var ii = 0; ii < data.alarmVariableBitLevel.length; ii++) {
                            //        if (data.roleAlarmVariableBitLevel[i] == data.alarmVariableBitLevel[ii]) {
                            //            ischeck = true;
                            //            break;
                            //        }
                            //    }

                            //    html2 = html2 + "<input type=\"checkbox\" name=\"AlarmLevel\" value=\"{0}\"  title=\"{0}\" {1}>"
                            //        .format(data.roleAlarmVariableBitLevel[i], ischeck ? "checked=\"checked\"" : "");
                            //}

                            var html1 = data.htmlAlarmCrewLevel;
                            var html2 = data.htmlAlarmVariableBitLevel;

                            $("#AlarmCrewLevelDiv").html(html1);
                            $("#AalarmVariableBitLevelDiv").html(html2);
                            debugger;
                            form.render('checkbox');
                        }
                        else {
                            layer.msg("操作失败. " + data.message);
                        }
                    },
                    error: function () {
                        layer.msg("发生错误.");
                    }
                });

                //TODO

            });

            //监听提交
            form.on('submit(app-form-submit)', function (data) {
                var field = data.field; //获取提交的字段
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                debugger;
                var checks = $("#AlarmCrewLevelDiv input[type='checkbox']:checked");
                var arrchecks = [];
                checks.each(function (i, v) {
                    arrchecks.push($(v).val());
                });

                var checks2 = $("#AalarmVariableBitLevelDiv input[type='checkbox']:checked");
                var arrchecks2 = [];
                checks2.each(function (i, v) {
                    arrchecks2.push($(v).val());
                });

                $.ajax({
                    url: '/SysRoleAlarmLevel/CerateOrEdit',
                    type: 'post',
                    dataType: 'json',
                    //contentType: 'application/json',
                    data: { RoleID: field.RoleID, AarmCrewLevel: arrchecks.join(','), AlarmVariableBitLevel: arrchecks2.join(',') },  //JSON.stringify(field),
                    timeout: 2000,
                    beforeSend: function (xhr) {
                        //xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        console.log(data);
                        debugger;
                        if (data.status) {
                            parent.layui.table.reload('table-page'); //重载表格
                            parent.layer.close(index); //再执行关闭
                        }
                        else {
                            layer.msg("操作失败. " + data.message);
                        }
                    },
                    error: function () {
                        layer.msg("发生错误.");
                    }
                });

            });
        });
    </script>

</body>
</html>
