<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=.;Initial Catalog=CKDDB;Integrated Security=False;User ID=sa;Password=5401"/>
    <add name="AlarmDBConnection" connectionString="Data Source=.;Initial Catalog=AlarmDB;Integrated Security=False;User ID=sa;Password=5401"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="信息发送服务 V1.0"/>
    <add key="WebSocketURL" value="ws://127.0.0.1:9090"/>
  </appSettings>
</configuration>