@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Sn.Web </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
    <div class="layui-form" id="dictBox" style="padding: 20px;">

        <div class="layui-form-item layui-form-pane layui-hide">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="ID" value="0" placeholder="请输入ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">发件人</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="Sender" lay-verify="required" placeholder="请输入发件人" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">发送人ID</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="SenderID" lay-verify="required" placeholder="请输入发送人ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">收件人</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="Receiver" lay-verify="required" placeholder="请输入收件人" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">接收人ID</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="ReceiverID" lay-verify="required" placeholder="请输入接收人ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">发送时间</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="SendTime" lay-verify="required" placeholder="请输入发送时间" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="CreateTime" lay-verify="required" placeholder="请输入创建时间" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="Title" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="Content" lay-verify="required" placeholder="请输入内容" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane  layui-hide">
            <label class="layui-form-label">1:收件箱 2:发件箱 3:草稿箱</label>
            <div class="layui-input-inline" style="width:350px">
                <input type="text" name="Type" lay-verify="required" placeholder="请输入1:收件箱 2:发件箱 3:草稿箱" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item  layui-form-pane">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="status" name="Status" lay-skin="switch" lay-text="启用|禁用">
            </div>
        </div>



        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="app-form-submit" id="app-form-submit" value="确认添加">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>
    </div>
    <script src="../../../layuiadmin/layui/layui.js"></script>

    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$

                , form = layui.form;

            layer.ready(function () {





                //TODO

            });

            //监听提交
            form.on('submit(app-form-submit)', function (data) {
                var field = data.field; //获取提交的字段
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

                field.Status = field.Status == "on" ? 1 : 0;
                $.ajax({
                    url: '/MessageBox/CerateOrEdit',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(field),
                    timeout: 2000,
                    beforeSend: function (xhr) {
                        //xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status) {
                            parent.layui.table.reload('table-page'); //重载表格
                            parent.layer.close(index); //再执行关闭
                        }
                        else {
                            layer.msg("操作失败. " + data.message);
                        }
                    },
                    error: function () {
                        layer.msg("发生错误.");
                    }
                });

            });
        });
    </script>

</body>
</html>
