@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Sn.Web </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
    <div class="layui-form" id="dictBox" style="padding: 20px;">

        <div class="layui-form-item layui-form-pane layui-hide">
            <label class="layui-form-label">搜索</label>
            <div class="layui-input-inline" style="width:350px">
                @*<input type="text" name="ID" value="0" placeholder="请输入名称" autocomplete="off" class="layui-input">*@
                <input type="checkbox" lay-verify="required" lay-filter="UserName" name="UserName" lay-text="仅名称">
                <input type="checkbox" lay-verify="required" lay-filter="MoreColumns" name="MoreColumns" lay-text="更多列">
            </div>
        </div>

        <div class="layui-form-item layui-form-pane ">
            @*<label class="layui-form-label">收件人</label>*@
            <div class="layui-input-inline" style="width:350px">
                @*<input type="checkbox" lay-verify="required" lay-filter="status" name="Status" lay-skin="switch" lay-text="">*@
                <input type="text" name="SearchCondition" lay-verify="required" placeholder="请输入收件人查询条件" autocomplete="off" class="layui-input">
                <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
                @*<input type="button" name="SearchBtn" lay-verify="required" lay-text="搜索" autocomplete="off" class="layui-input">*@
            </div>
        </div>

       



        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="app-form-submit" id="app-form-submit" value="确认添加">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>
    </div>
    <script src="../../../layuiadmin/layui/layui.js"></script>

    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$

                , form = layui.form;

            layer.ready(function () {





                //TODO

            });

            //监听提交
            form.on('submit(app-form-submit)', function (data) {
                var field = data.field; //获取提交的字段
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

                field.Status = field.Status == "on" ? 1 : 0;
                $.ajax({
                    url: '/MessageBox/CerateOrEdit',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(field),
                    timeout: 2000,
                    beforeSend: function (xhr) {
                        //xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status) {
                            parent.layui.table.reload('table-page'); //重载表格
                            parent.layer.close(index); //再执行关闭
                        }
                        else {
                            layer.msg("操作失败. " + data.message);
                        }
                    },
                    error: function () {
                        layer.msg("发生错误.");
                    }
                });

            });
        });
    </script>

</body>
</html>
